# Top-most EditorConfig file

root = true

# Defaults for all files

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true  # some non-md files are whitespace sensitive: look at your diffs

# Extension-specific formatting

[*.{js,r,R,scala,sh,bash,html,json,yml}]
indent_style = space
indent_size = 2

[*.{py,jl}]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[{*.go,Makefile}]
indent_style = tab

